.main
{
	padding-left: 1rem;
}

.formulario input
{
	width: 400px;
}

.resultado
{
	content: "";
	margin: .5rem;
}

canvas
{
	width: 500px;
	height: 300px;
	padding-left: 1rem;
	border:1px solid #000000;
	margin: 0.5em;
	display: none;
}